/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.fa {  
    width: fit-content;
    flex-direction: column-reverse;
    padding: 1em;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    margin: 1em;
    color: aliceblue;
    opacity: 0.85;
    border-radius: 50%; 
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-instagram {
  background: #8a3ab9;
}

.fa-pinterest {
  background: #cb2027;
}
